#signIn-form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    width: 35%;
    margin: 3.5rem 0 3.5rem 0;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 1);
    border-radius: 8px;
}

#signin-heading{
    width: 100%;
    text-align: center;
}
#signIn-form label{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

#signIn-form input{
    width: 100%;
    border-radius: 8px;
    padding: 0.3rem;
    margin-bottom: 0.8rem;
    border: 1px solid #000;
}

.signIn-btn{
    padding: 0.5rem;
    color: #f5f5f5;
    background: linear-gradient(90deg,rgba(74, 1, 137, 1) 0%, rgba(115, 14, 204, 1) 56%, rgba(167, 66, 255, 1) 100%);
    border-radius: 8px;
    width: 100%;
    margin-top: 1.6rem;
}

/* INVALID INPUT */

.active-error{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fd5c63;
    width: 100%;
    min-height: 40px;
    border-radius: 8px;
}

input:invalid{
    border-color: #fd5c63;
}

/* *** 1024PX **** */
@media (max-width: 1024px) {
    #signIn-form{
        width: 55%;
    }
}

/* ***600PX **** */
@media (max-width: 600px) {
    #signIn-form{
        width: 75%;
    }
}

@media(max-width: 400px){
    #signIn-form{
        width: 90%;
    }
}