footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(90deg,rgba(74, 1, 137, 1) 0%, rgba(115, 14, 204, 1) 56%, rgba(167, 66, 255, 1) 100%);
  padding: 2.5rem;
}

.footer-brand{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}

.footer-brand-heading h3{
  color: #f5f5f5;

}

.footer-brand-heading span{
  padding-right: 0.5rem;
}

.footer-brand-paragraph p{
  color: #f5f5f5;
}

.footer-container-newsletter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0 2rem 0;
}

.footer-container-newsletter-text{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 45%;  
}

.footer-container-newsletter-text h5{
  color: #f5f5f5;
  font-weight: 700;
}

.footer-container-newsletter-text p{
  color: #f5f5f5;
  font-weight: 300;
}

.footer-container-newsletter-form{
  width: 35%;
}

.footer-container-newsletter-form form input{
  padding: 3px 6px !important;
}

.footer-btn{
    padding: 0.25rem 1rem;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    background-color: rgba(167, 66, 255, 1);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-left: 0.5rem;
}

.footer-btn:hover{
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    color: rgba(167, 66, 255, 1);
}

.footer-content p{
  color: #f5f5f5;
}

/* *** 992PX **** */
@media (max-width: 992px) {
  .footer-container-newsletter-text{
    width: 45%;  
  }

  .footer-container-newsletter-form{
      width: 45%;
  }

}

/* *** 572PX **** */
@media (max-width: 572px) {

  footer{
    padding: 1.5rem;
  }

  .footer-brand-paragraph {
    display: none;
  }
  .footer-container-newsletter{
    flex-direction: column;
  }

   .footer-container-newsletter-text{
    width: 100%;  
  }

  .footer-container-newsletter-form{
      width: 100%;
  }

  .footer-container-newsletter-form form{
    justify-content: flex-start!important;
  }

  .footer-content{
    width: 100%;
  }

}
