header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width:80%
}

nav{
    background-color:#f5f5f5;
}

.logo span{
    color: #871ae7;
    font-weight:900;
    padding-right: 0.3rem;
    font-size: 1.5rem;
}

.logo {
    color: #000;
    font-weight:700;
    padding-bottom:0.1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.form-control:focus {
    border-color: #4A0189;
    box-shadow: 0 0 0.25rem rgba(74, 1, 137, 1);
}

.offcanvas{
    background-color: #f5f5f5!important;
    max-width: 65%!important;
}

.nav-link{
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
}

.nav-link a{
    cursor: pointer;
}


#headingSignout{
    display: none;
    cursor: pointer;
}

.nav-link:hover, .dropdown-item:hover{
    color: #871ae7;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.dropdown-menu{
    background-color: #f5f5f5;
    border:none
}

/* *** 992PX **** */
@media (max-width: 992px) {
    header{
        width: 90%;
    }
}

/* *** 572PX **** */
@media (max-width: 572px) {

    .logo {
        font-size: 1rem !important;
    }

    .logo span{
        font-size: 1.2rem;
    }
    .search-form {
        width: 100% !important;
        order: -1;
        margin-top: 10px;
    }
}