header{
    width:100%
}

nav{
    background-color:#f5f5f5;
}

.logo span{
    color: #871ae7;
    font-weight:900;
    padding-right: 0.3rem;
    font-size: 1.5rem;
}

.logo {
    color: #000;
    font-weight:700;
    padding-bottom:0.1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.form-control:focus {
    border-color: #4A0189;
    box-shadow: 0 0 0.25rem rgba(74, 1, 137, 1);
}

.offcanvas{
    background-color: #f5f5f5!important;
    max-width: 65%!important;
}

.nav-link{
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
}

.nav-link:hover, .dropdown-item:hover{
    color: #871ae7;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.dropdown-menu{
    background-color: #f5f5f5;
    border:none
}