*{
    margin:0;
    padding:0;
    box-sizing: border-box
}

body{
    background-color:#f5f5f5;
   
}


#main-container{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    width:80%;
    margin:0 auto;
    background-color:#f5f5f5;
    padding-top:2rem;
}

header{
    width:100%
}

nav{
    background-color:#f5f5f5;
}

.navBar-logo{
    width:20%
}


nav a span{
    color: #4A0189;
    font-weight:700;
    padding-right: 0.3rem;
    font-size: 1.5rem;
}

nav a {
    color: #000;
    font-weight:600;
    padding-bottom:0.1rem;
}
main{
    flex:1;
}

#heading{
    margin:2rem 0;
    width:100%;
    height:100%;
}

.heading-container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    padding:1rem;
    background-color:#f5f5f5;
    border-radius:8px
}

.heading-container-image{
    width:30%;
    height:20%;
    border-radius:8px
}

.heading-container-image img{
    width:100%;
    height:100%;
    border-radius:8px
}
#sub-heading{
    background-color:rgb(0, 110, 255);
   
}
#courses-cards{
    background-color:rgb(255, 0, 170);
  
}
#description{
    background-color:rgb(255, 145, 0);
  
}
#reviews{
    background-color:rgb(77, 77, 1);
 
}

footer{
    background-color:blue;
}
