*{
    margin:0;
    padding:0;
    box-sizing: border-box
}

body{
    background-color:#f5f5f5;
   
}

#main-container{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    width:80%;
    margin:0 auto;
    background-color:#f5f5f5;
    padding-top:2rem;
}

main{
    flex:1;
}

  /* HEADING */

#heading{
    margin:3.5rem 0;
    width:100%;
    height:100%;
}

.heading-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.heading-bg {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}


.heading-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #fff;
    z-index: 2;
    padding: 1rem;
}


.heading-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.heading-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.heading-text p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.heading-btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 999px;
    background-color: #a742ff;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

  /* SUB HEADING */
#sub-heading{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3.5rem;
}

.sub-heading-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg,rgba(74, 1, 137, 1) 0%, rgba(115, 14, 204, 1) 56%, rgba(167, 66, 255, 1) 100%);    
    border-radius: 8px;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 1);
    padding: 0.5rem;
    margin-bottom: 3.5rem;
}

.sub-heading-items a{
    color:#f5f5f5;
    border-radius: 10px;
    padding: 0.3rem 1.5rem;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.sub-heading-items a:hover{
    transform: scale(1.2);
}

#sub-heading-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sub-heading-content-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 45%;
}

.sub-heading-content-text h2{
   font-weight: 700;
   padding-bottom: 1rem;

}

.sub-heading-content-img{
    width: 40%;
    height: 100%;
}

.sub-heading-content-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* CARDS */

#cards{
    margin-bottom: 3.5rem;
}
.card-item img{
    border-radius: 8px;
    height: 20%;
    width: 100%;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 1);
}

/* PLANS */

#plan-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-bottom: 3.5rem;
}

.plan-container-plans{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 400px;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 1);
    border-radius: 8px;
    padding: 1rem;
}

.plan-container-plans:hover{
    border: 3px solid #a742ff;
}

.plan-container-monthly:hover{

}

.plans-btn{
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 999px;
    background-color: #a742ff;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#popular{
    color: #f5f5f5;
    font-weight: 600;
    background-color: #a742ff;
    width: 100%;
    text-align: center;
}
#reviews{
    background-color:rgb(77, 77, 1);
 
}

footer{
    background-color:blue;
}

/* *** 992PX **** */
@media (max-width: 992px) {

    #main-container{
        width:90%;
    }

    .heading-container-text h1{
        font-size: 2.5rem;
    }

    .heading-container-text p{
        font-size: 0.8rem;
    }

    .heading-container-text-btn{
        padding: 0.2rem 0.4rem;
    }

}

 /* *** 769X **** */
@media (max-width: 769px) {
    
    /* CARDS */
   #cards{
        display: none;
   }
}

 /* *** 572PX **** */
@media (max-width: 572px) {

    #main-container{
        width:95%;
        padding: 0.3rem;
    }

    /* HEADING */

    .heading-container-text h1{
        font-size: 2rem;
    }

    .heading-container-text p{
        display: none;
    }

    .heading-container-text-btn{
        margin-top: 1rem;
        padding: 0.1rem 0.3rem;
    }

    .heading-container-image{
        width:35%;
        height:25%;
    }
    
    /* SUB HEADING */

   .sub-heading-items{
       display: none;
   }

   #sub-heading-content{
    flex-direction: column;
 
   }

   .sub-heading-content-text{
    width: 100%;
    margin-bottom: 3.5rem;
   }

   .sub-heading-content-img{
     width: 100%;
   }

   /* CARDS */
   #cards{
    display: none;
   }
  
}