*{
    margin:0;
    padding:0;
    box-sizing: border-box
}

body{
    background-color:#f5f5f5;
   
}

#main-container{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    width:80%;
    margin:0 auto;
    background-color:#f5f5f5;
    padding-top:2rem;
}

main{
    flex:1;
}

#heading{
    margin:2rem 0;
    width:100%;
    height:100%;
}

.heading-container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    padding:3rem;
    background: linear-gradient(90deg,rgba(74, 1, 137, 1) 0%, rgba(115, 14, 204, 1) 56%, rgba(167, 66, 255, 1) 100%);    border-radius:8px
}

.heading-container-text h1{
    color: #f5f5f5;
    font-size: 3rem;
}

.heading-container-text p{
    color: #f5f5f5;
    font-size: 1rem;
}

.heading-container-text-btn{
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
    background-color: #4A0189;
}

.heading-container-text-btn:hover{
    color: #4A0189;
    border: 1px solid #4A0189;
    background-color: #f5f5f5;
    font-weight: 700;
}
.heading-container-image{
    width:30%;
    height:20%;
    border-radius:8px
}

.heading-container-image p{
    width:30%;
    height:20%;
    border-radius:8px
}

.heading-container-image img{
    width:100%;
    height:100%;
    border-radius:8px
}
#sub-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    margin-bottom: 2rem;
}

.sub-heading-item{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 10);
    width: 30%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;   
}

.sub-heading-item:hover{
    transform: scale(1.1);
}


.sub-heading-item p{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.sub-heading-item img{
    height: 64px;
    width: 64px;
}

#cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.card-item{
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 10);
    width: 20%;
    height: 80%;
    border-radius: 8px;
}

.card-item img{
    border-radius: 8px;
    margin: 0.6rem;
    height: 20%;
    width: 92%;
}

#description{
    background-color:rgb(255, 145, 0);
  
}
#reviews{
    background-color:rgb(77, 77, 1);
 
}

footer{
    background-color:blue;
}

@media (max-width: 992px) {

    #main-container{
        width:90%;
    }

    .heading-container-text h1{
        font-size: 2.5rem;
    }

    .heading-container-text p{
        font-size: 0.8rem;
    }

    .heading-container-text-btn{
        padding: 0.2rem 0.4rem;
    }

}

@media (max-width: 572px) {

    #main-container{
        width:95%;
    }

    .heading-container-text h1{
        font-size: 2rem;
    }

    .heading-container-text p{
        display: none;
    }

    .heading-container-text-btn{
        margin-top: 1rem;
        padding: 0.1rem 0.3rem;
    }

    .heading-container-image{
        width:35%;
        height:25%;
    }

    #sub-heading{
        display: none;
    }
}