*{
    margin:0;
    padding:0;
    box-sizing: border-box
}

body{
    background-color:#f5f5f5; 
}

#main-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    min-height:100vh;
    width:100%;
    background-color:#f5f5f5;
    padding-top:2rem;
}

main{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

  /* HEADING */

#heading{
    margin:3.5rem 0;
    width:100%;
    height:55vh;
}

.heading-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.heading-bg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.heading-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #fff;
    z-index: 2;
    padding: 1rem;
}


.heading-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.heading-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.heading-text p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.heading-btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 999px;
    background-color: #a742ff;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

  /* SUB HEADING */
#sub-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 3.5rem;
}

.sub-heading-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg,rgba(74, 1, 137, 1) 0%, rgba(115, 14, 204, 1) 56%, rgba(167, 66, 255, 1) 100%);    
    border-radius: 8px;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 1);
    padding: 0.5rem;
    margin-bottom: 3.5rem;
}

.sub-heading-items a{
    color:#f5f5f5;
    border-radius: 10px;
    padding: 0.3rem 1.5rem;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.sub-heading-items a:hover{
    transform: scale(1.2);
}

#sub-heading-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sub-heading-content-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 45%;
}

.sub-heading-content-text h2{
   font-weight: 700;
   padding-bottom: 1rem;

}

.sub-heading-content-img{
    width: 40%;
    height: 100%;
}

.sub-heading-content-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* CARDS */

#cards{
    margin-bottom: 3.5rem;
    width: 80%;
}
.card-item img{
    border-radius: 8px;
    height: 20%;
    width: 100%;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 1);
}

/* PLANS */

#plan-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   margin-bottom: 3.5rem;
}

.plan-container-plans{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    width: 31%;
    min-height: 30%;
    box-shadow: 0 0 0.45rem rgba(0, 0, 0, 10);
    border-radius: 8px;
    padding: 1rem;
}

.plan-container-plans:hover{
    border: 3px solid #a742ff;
}

.plan-container-plans h3{
    font-weight: 700;
}

.plan-container-plans-paragraph{
    text-align: left;
    width: 100%;
}

.plan-container-plans-description{
    text-align: left;
    width: 100%;

}
.plan-container-plans-description p{
    border-bottom: 1px solid #000;

}

.plan-container-plans-price h4{
    font-weight: 700;
    color: #000;
}

.plans-btn{
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 999px;
    background-color: #a742ff;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#popular{
    color: #f5f5f5;
    font-weight: 600;
    background-color: #a742ff;
    width: 100%;
    text-align: center;
}

/* REVIEWS */

#reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 3.5rem;
    min-height: 300px;
    width: 80%;
}
.reviews-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31%;
}

.review-item-review p{

}

.review-item-user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}

.review-item-user img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding-right: 1rem;
}


/* *** 992PX **** */
@media (max-width: 992px) {
    
    /* SUB HEADING */
    #sub-heading{
       width: 90%;
    }

    #plan-container{
        align-content: space-between;
        flex-direction: column;
        width: 90%;
    }
    .plan-container-plans{
        width: 100%;
        margin-bottom: 3.5rem;
    }

    /* REVIEWS */
    #reviews{
        flex-direction: column;
        align-content: space-between;
        width: 90%;
    }

    .reviews-item{
        width: 100%;
        flex-direction: column;
    }

    .review-item-review{
        display: flex;
        flex-direction: column-reverse;
    }

    .review-item-user{
        margin: 2rem 0 1rem 0;
    }

}

 /* *** 769X **** */
@media (max-width: 769px) {
    
    /* CARDS */
   #cards{
        display: none;
   }
}

 /* *** 572PX **** */
@media (max-width: 572px) {
    /* HEADING */
    #heading{
        height: 45vh;
    }
    .heading-text {
        width: 70%;
    }
    .heading-text h1 {
        font-size: 2.5rem;
    }

    .heading-text p {
    font-size: 0.8rem;
    }

    .heading-btn {
        padding: 0.50rem 1rem;
    }

   .sub-heading-items{
       display: none;
   }

   #sub-heading-content{
    flex-direction: column;
 
   }

   .sub-heading-content-text{
    width: 100%;
    margin-bottom: 3.5rem;
   }

   .sub-heading-content-img{
     width: 100%;
   }

   /* CARDS */
   #cards{
        display: none;
   }
}

/* LANDSCAPE */
@media screen and (max-width:932px) and (orientation: landscape){
    #heading{
        height: 60vh;
    }
    .heading-text h1 {
        font-size: 2rem;
    }

    .heading-text p {
        font-size: 0.8rem;
    }

    .heading-btn {
        padding: 0.50rem 1rem;
    }
}

@media(max-width: 400px){
    .heading-text {
        width: 85%;
        left: 45%;
    }
}