
#courses-main{
  min-height: 65vh;
  width: 80%;
  margin: 3.5rem 0 3.5rem 0;
}

#courses-category{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 3.5rem;  
}

#courses-category p{
  margin: 0 1.3rem 0 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#courses-category p:hover{
  transform: scale(1.1);
  border-bottom: 3px solid rgba(74, 1, 137, 1);
}

#courses-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 19.1% 19.1% 19.1% 19.1% 19.1%;
  grid-template-rows: auto;
  gap: 3.5rem 1rem;
}

.courses-grid-item{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border: 0.7px solid #000;
  border-radius: 8px;
  cursor: pointer;
}

.courses-grid-item:hover{
  border: 3px solid #a742ff;
}

.courses-grid-item-img{
  width: 100%;
  height: 65%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0.5rem;
}

.courses-grid-item-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  height: 35%;
  padding: 1rem;
  width: 100%;
}

.courses-grid-item-content p{
  margin: 0;
}

.courses-grid-item-content-title{
  font-weight: 700;
}

.courses-grid-item-informations{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.courses-item-informations{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* MEDIA QUERY */

/* *** MAX 1600PX **** */
@media (max-width: 1680px) {
  #courses-grid{
    grid-template-columns: 24.1% 24.1% 24.1% 24.1%;
  }
}
/* *** 1200PX **** */
@media (max-width: 1350px) {
  #courses-grid{
    grid-template-columns: 32.1% 32.1% 32.1%;
  }
}

/* *** 992PX **** */
@media (max-width: 992px) {
  #courses-main{
    width: 90%;
  }

   #courses-grid{
    grid-template-columns: 49% 49%;
  }
}

/* LANDSCAPE */
@media screen and (max-width:932px) and (orientation: landscape){
  #courses-grid{
    grid-template-columns: 49% 49%;
  }
}
/* *** 640PX **** */
@media (max-width: 640px) {
  #courses-grid{
    grid-template-columns: 49% 49%;
  }
}

 /* *** 480X **** */
@media (max-width: 480px) {

  #courses-category{
    justify-content: space-between;
    align-items: flex-end;
  }

  #courses-grid{
    grid-template-columns: 100%;
  }

  #courses-category p{
    margin: 0;
  }
}


